<div class="row mt-5">
  <div class="col-12 text-center">
    <h3>Workshop Categories</h3>
    <div class="btn-group flex-wrap" role="group">
      <a href="python.html" class="btn btn-outline-dark{% if include.current_category == 'python' %} active{% endif %}">Python</a>
      <a href="R.html" class="btn btn-outline-dark{% if include.current_category == 'r' %} active{% endif %}">R</a>
      <a href="ai.html" class="btn btn-outline-dark{% if include.current_category == 'ai' %} active{% endif %}">AI</a>
      <a href="excel.html" class="btn btn-outline-dark{% if include.current_category == 'excel' %} active{% endif %}">Excel</a>
      <a href="qualitative.html" class="btn btn-outline-dark{% if include.current_category == 'qualitative' %} active{% endif %}">Qualitative</a>
      <a href="other.html" class="btn btn-outline-dark{% if include.current_category == 'other' %} active{% endif %}">Other Tools</a>
    </div>
  </div>
</div>