<!--Footer-->
<footer class="page-footer font-small blue pt-4 mt-4">
	<div class="container-fluid text-center text-md-center">
		<div class="row justify-content-md-center">
			<div class="col-md-offset-3 col-md-6">
				<h5>Follow Us</h5>
				<div class="footer-links mb-3">
					<div class="d-flex justify-content-center align-items-center flex-wrap">
						<a class="footer-link mx-2 mb-2" href="{{site.website}}" target="_blank">
							<i class="fas fa-home me-1"></i>D-Lab Home
						</a>
						<a class="footer-link mx-2 mb-2" href="{{site.github}}" target="_blank">
							<i class="fab fa-github me-1"></i>GitHub
						</a>
						<a class="footer-link mx-2 mb-2" href="mailto:{{site.email}}">
							<i class="fas fa-envelope me-1"></i>Contact
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Copyright-->
	<div class="footer-copyright py-3 text-center">
		{{site.footer_text}}
	</div>
</footer>
<!-- End Footer -->

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
